extends layout

block content
  .container
    h3.text-center #{title}
    ul.list-group
      .messageList.list-group-item #{message}
  script.  
    $(document).ready(() => {
      let href = location.href;
      let socket = io.connect(href);
      // get message from subscriber and display
      socket.on('randomMessage', (data) => {
        let newMessage = $(`.messageList`).first().clone();
        console.log(data);
        newMessage.text(data.message);
        $(`.list-group`).append(newMessage);
      });
    });