extends layout

block content
  .container#mainContainer
    h3.text-center #{title}
    div(style="display:none")
      .container.message-cont
        span.badge  #{priority}
        p #{message}
        span.time-right #{timestamp}
  append scripts
    script(src='/javascripts/workerservice.js')